spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/book_social_network
    username: albert
    password: albert
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: localhost
    port: 1025
    username: albert
    password: albert
    properties:
      mail:
        smtp:
          trust: "*"
        auth: true
        starttls:
          enable: true
        connectiontimeout: 5000
        timeout: 3000
        writetimeout: 5000


application:
  security:
    jwt:
      secret-key: sRilhKJvu9aLQbAq3v3VE9X3GyMEKMHOmhhTRygSo14=
      expiration: 8640000
  mailing:
    frontend:
      activation-url: http://localhost:4200/activate-account
